---
bodyclass: index
language: ua
meta:
author: Kyrylo Gerasymenko
description: QA Open 2019
keywords: QA, Conference, Mykolaiv, 2019
robots: index, follow
scripts:
- ../lib/jquery.js
- ../js/jquery-init.js
- ../lib/lightbox/js/lightbox.min.js
- ../lib/popper.min.js
- ../lib/bootstrap.min.js
- ../lib/slippry/slippry.min.js
- ../js/main.js
stylesheets:
- ../lib/bootstrap.min.css
- https://use.fontawesome.com/releases/v5.7.2/css/all.css
- ../lib/lightbox/css/lightbox.min.css
- ../lib/slippry/slippry.css
- ../lib/universal-parallax.min.css
- ../scss/index.scss
title: QA Open 2019
uri: /
---
{{#extend "base"}}
{{#content "main"}}
<nav class="navbar fixed-top header navbar-expand-lg bg-dark navbar-light" id="navbar">
  <a class="navbar-brand" href="#home">
    <svg version="1.1" id="Layer_1" class="svg-logo-desktop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-540 381.7 206.9 39.3" style="enable-background:new -540 381.7 206.9 39.3;" xml:space="preserve">
          <g>
            <path d="M-525.8,399.9h9c-1.2,4.1-5,7.2-9.5,7.2c-5.4,0-9.9-4.4-9.9-9.9c0-5.4,4.4-9.9,9.9-9.9c4.1,0,7.6,2.5,9.1,6.1h2.7
              c-1.6-5-6.3-8.6-11.8-8.6c-6.8,0-12.4,5.6-12.4,12.4s5.6,12.4,12.4,12.4c3.9,0,7.5-2,9.6-4.8v4.3h2.3v-11.7h-11.4V399.9z"></path>
            <rect x="-510.2" y="385.6" width="2.5" height="23.4"></rect>
            <rect x="-437.3" y="385.6" width="2.5" height="23.4"></rect>
            <path d="M-494.8,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7c3.8,0,6.9,3.2,6.9,7C-488,404.1-491.1,407.4-494.8,407.4
                M-494.8,390.9c-5.2,0-9.4,4.2-9.4,9.4c0,5.2,4.2,9.4,9.4,9.4c5.2,0,9.4-4.2,9.4-9.4C-485.5,395.1-489.7,390.9-494.8,390.9"></path>
            <path d="M-473.2,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7c3.8,0,6.9,3.2,6.9,7C-466.4,404.1-469.4,407.4-473.2,407.4
                M-473.1,390.8c-2.8,0-5.3,1.2-7,3.2v-8.4h-2.5V409h2.5v-2.3c1.7,1.9,4.2,3.1,7,3.1c5.2,0,9.4-4.3,9.4-9.5
              C-463.7,395-467.9,390.8-473.1,390.8"></path>
            <path d="M-451,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7s6.9,3.2,6.9,7C-444.1,404.1-447.2,407.4-451,407.4 M-444.1,394
              c-1.7-2-4.3-3.2-7.1-3.2c-5.3,0-9.5,4.3-9.5,9.5c0,5.3,4.3,9.5,9.5,9.5c2.8,0,5.4-1.2,7.1-3.2v2.4h2.5v-17.1h-2.5V394z"></path>
            <rect x="-369.8" y="383.2" width="4.4" height="4.1"></rect>
            <polygon points="-426,385.6 -430,385.6 -430,405.3 -430,409 -416.9,409 -416.9,405.3 -426,405.3   "></polygon>
            <rect x="-369.8" y="390.6" width="4.4" height="18.4"></rect>
            <path d="M-405.7,405.8c-2.9,0-5.3-2.5-5.3-5.7c0-3.1,2.4-5.7,5.3-5.7c2.9,0,5.3,2.5,5.3,5.7C-400.4,403.3-402.8,405.8-405.7,405.8
                M-405.7,390.5c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6c5.3,0,9.6-4.3,9.6-9.6C-396.1,394.8-400.4,390.5-405.7,390.5"></path>
            <path d="M-347.2,402.7c-0.9,1.9-2.7,3.1-4.7,3.1c-2.9,0-5.3-2.6-5.3-5.7c0-3.4,2.4-5.7,5.3-5.7c2,0,3.7,1.2,4.6,2.9h4.6
              c-1.2-3.9-4.9-6.8-9.2-6.8c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6c4.4,0,8.2-3,9.3-7.1h-4.6V402.7z"></path>
            <path d="M-384.4,415.4c-2,0-3.8-1-5-2.6l-3.9,1.9c1.8,2.9,4.9,4.8,8.9,4.8c5.1,0,9.3-4.1,9.7-9h-4.3
              C-379.4,413.3-381.6,415.4-384.4,415.4"></path>
            <path d="M-384.2,405.9c-2.9,0-5.3-2.5-5.3-5.7c0-3.1,2.4-5.7,5.3-5.7c2.9,0,5.3,2.5,5.3,5.7S-381.2,405.9-384.2,405.9
                M-378.5,392.5c-1.6-1.1-3.5-1.8-5.6-1.8c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6s9.6-4.3,9.6-9.5v-9.8h-4V392.5z"></path>
          </g>
          <g>
            <path d="M-339.1,387.4c0-1.6,1.1-2.6,2.6-2.6s2.6,1.1,2.6,2.6s-1.1,2.6-2.6,2.6C-338,390-339.1,388.9-339.1,387.4z M-334.3,387.4
              c0-1.4-0.9-2.3-2.2-2.3c-1.2,0-2.2,0.9-2.2,2.3c0,1.4,0.9,2.3,2.2,2.3C-335.3,389.6-334.3,388.7-334.3,387.4z M-337.6,386h1.2
              c0.5,0,0.9,0.3,0.9,0.8c0,0.3-0.2,0.6-0.5,0.6l0,0c0.3,0.1,0.4,0.2,0.4,0.6c0,0.4,0,0.6,0.1,0.7l0,0h-0.5c-0.1,0-0.1-0.3-0.1-0.6
              c0-0.3-0.2-0.5-0.5-0.5h-0.5v1.1h-0.5V386L-337.6,386z M-336.9,387.2h0.6c0.3,0,0.5-0.2,0.5-0.4c0-0.2-0.1-0.4-0.4-0.4h-0.6v0.8
              H-336.9z"></path>
          </g>
          </svg>
          QA OPEN 2019</a>
  <button class="navbar-toggler" onclick="toggleTransparency()" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">ПОДРОБИЦІ</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#location">МІСЦЕ</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#prevEvent">ГАЛЕРЕЯ</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#speakers">СПІКЕРИ</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#agenda">РОЗКЛАД</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#partners">ПАРТНЕРИ</a>
      </li>
    </ul>
  </div>
</nav>
<section id="home">
  <div class="parallax header-parallax"></div>
  <div class="extra-bg"></div>
  <div class="welcome-section-wrapper container">
    <h1 class="title">
      QA OPEN <span class="title-muted">CONFERENCE</span>
    </h1>
    <h2 class="subtitle">
      <i class="far fa-calendar-alt"></i> <span class="eventDate"></span> | Миколаїв
    </h2>
    <div class="countdown">
      <div class="countdown-item">
        <div id="countdown-days">00</div>
        <div class="countdown-text" id="countdown-days-text">днів</div>
      </div>
      <div class="countdown-item">
        <div id="countdown-hours">00</div>
        <div class="countdown-text" id="countdown-hours-text">годин</div>
      </div>
      <div class="countdown-item">
        <div id="countdown-minutes">00</div>
        <div class="countdown-text" id="countdown-minutes-text">хвилин</div>
      </div>
      <div class="countdown-item">
        <div id="countdown-seconds">00</div>
        <div class="countdown-text" id="countdown-seconds-text">секунд</div>
      </div>
    </div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdieVc3pUffi0sSoca204Opsq1Tg_n6rsd7Qe3DI2xZkNM0_w/viewform"
      class="btn-register" target="_blank">
      Зареєструватись
    </a>
  </div>
</section>
<section class="container fadeIn slow" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 margin-t75">
        <h5 class="subtitle text-center">чому варто прийти</h5>
        <h2 class="title text-uppercase line-after">Про захід</h2>

        <div class="content" id="content-short">

        </div>
      </div>
    </div>
  </div>
</section>
<section id="location" class="wow fadeIn slow">
  <div class="container">
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 margin-t75">
        <div id="location-square">
          <div id="location-square-background"></div>
          <div id="location-square-content">
            <div class="row">
              <div class="col-6">
                <h3 class="secondary-color" id="location-square-content-title">
                  QA
                  <br>
                  OPEN
                </h3>
              </div>
              <div class="col-auto">
                <h3 class="" id="location-square-content-date">2019</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12" id="location-square-content-subtext">
                ТЦ Кит, 2-й поверх
              </div>
            </div>
            <div class="row">
              <div class="col-12" id="location-square-content-text">

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 px-4 margin-t75 ">
        <h2 class="text-center mt-md-3 mt-sm-1">Приєднуйтесь!</h2>
        <p id="content-long" class="mt-1">Цього разу конференція відбудеться за адресою: ТРЦ "Кит", вул. Мала Морська,
          108</p>
        <p id="content-long" class="mt-1">Дата та час: 20 квітня (субота), з 10:00 до 17:00, початок реєстрації о 9:30
        </p>
        <p id="content-long" class="mb-4">Для участі у заході необхідно пройти попередню реєстрацію. Будь ласка,
          зверніть увагу, що кількість місць обмежена. Після реєстрації очікуйте на лист щодо вашої участі.</p>

        <div class="text-center mt-md-2 mt-sm-4">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdieVc3pUffi0sSoca204Opsq1Tg_n6rsd7Qe3DI2xZkNM0_w/viewform"
            class="btn-register" target="_blank">
            Зареєструватись
          </a>
        </div>

      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.6778752534785!2d31.994058030872342!3d46.953419886325115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5cbe6aa75adf7%3A0xb4c06fac0cb77a62!2z0JrQmNCiLCDQotCe0KDQk9Ce0JLQni3QoNCQ0JfQktCb0JXQmtCQ0KLQldCb0KzQndCr0Jkg0KbQldCd0KLQoA!5e0!3m2!1sen!2sua!4v1551964408122"
    frameborder="0" id="map" allowfullscreen></iframe>
</section>
<section id="prevEvent" class="wow fadeIn slow" data-parallax="scroll">

  <div class="prevEvent-header section-header">
    <h5 class="subtitle text-center">Як це відбувалося</h5>
    <h2 class="line-after">
      QA OPEN 2018
    </h2>
    <div class="pic-gallery mobile-hide">
      {{#each gallery as |column|}}
       <div class="gallery-column">
        <ul>
          {{#each column as |url|}}
          <li>
            <a href="{{url}}" data-lightbox="Conference">
              <img
                src="{{url}}" data-toggle="modal" data-target="#carousel-pic">
            </a>
          </li>
          {{/each}}
        </ul>
       </div>
      {{/each}}
    </div>
  </div>
  <div class="container" id="slider-mobile">
    <div class="row">
      <div class="col-12">
        <div>
          <ul id="thumbnails">
            <li>
              <a href="#slide1">
                <img src="./images/QA open -2018/_IGP5787.jpg">
              </a>
            </li>
            <li>
              <a href="#slide2">
                <img src="./images/QA open -2018/_IGP5522.jpg">
              </a>
            </li>
            <li>
              <a href="#slide3">
                <img src="./images/QA open -2018/_IGP5509.jpg">
              </a>
            </li>
            <li>
              <a href="#slide4">
                <img src="./images/QA open -2018/_IGP5518.jpg">
              </a>
            </li>
            <li>
              <a href="#slide5">
                <img src="./images/QA open -2018/_IGP5528.jpg">
              </a>
            </li>
            <li>
              <a href="#slide6">
                <img src="./images/QA open -2018/_IGP5576.jpg">
              </a>
            </li>
            <li>
              <a href="#slide7">
                <img src="./images/QA open -2018/_IGP5717.jpg">
              </a>
            </li>
            <li>
              <a href="#slide8">
                <img src="./images/QA open -2018/_IGP5791.jpg">
              </a>
            </li>
            <li>
              <a href="#slide9">
                <img src="./images/QA open -2018/_IGP5797.jpg">
              </a>
            </li>
            <li>
              <a href="#slide10">
                <img src="./images/QA open -2018/_IGP5804.jpg">
              </a>
            </li>
          </ul>
          <div class="thumb-box">
            <ul class="thumbs">
              <li><a href="#1" data-slide="1"><img src="./images/QA open -2018/_IGP5787.jpg"></a></li>
              <li><a href="#2" data-slide="2"><img src="./images/QA open -2018/_IGP5522.jpg"></a></li>
              <li><a href="#3" data-slide="3"><img src="./images/QA open -2018/_IGP5509.jpg"></a></li>
              <li><a href="#4" data-slide="4"><img src="./images/QA open -2018/_IGP5518.jpg"></a></li>
              <li><a href="#5" data-slide="5"><img src="./images/QA open -2018/_IGP5528.jpg"></a></li>
              <li><a href="#6" data-slide="6"><img src="./images/QA open -2018/_IGP5576.jpg"></a></li>
              <li><a href="#7" data-slide="7"><img src="./images/QA open -2018/_IGP5717.jpg"></a></li>
              <li><a href="#8" data-slide="8"><img src="./images/QA open -2018/_IGP5791.jpg"></a></li>
              <li><a href="#9" data-slide="9"><img src="./images/QA open -2018/_IGP5797.jpg"></a></li>
              <li><a href="#10" data-slide="10"><img src="./images/QA open -2018/_IGP5804.jpg"></a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="speakers" class="wow fadeIn slow">
  <div id="speakersParallax" class="parallax speakers-parallax"></div>
  <div class="extra-bg"></div>
  <div class="container">
    <div class="speakers-header section-header">
      <h2 class="line-after">СПІКЕРИ</h2>
    </div>
    <div class="speakers-body">
    {{#each speakers}}
      {{> speaker}}
    {{/each}}
    </div>
  </div>
</section>

<section id="agenda" class="wow fadeIn slow">
  <div class="container">
    <div class="agenda-header section-header">
      <h2 class="line-after">РОЗКЛАД *</h2>
      <i>* Інформація стосовно розкладу буде уточнюватись та доповнюватись.</i>
    </div>
    <div class="agenda-body">
      <table class="table table-hover agenda-table">
        <thead>
          <tr class="agenda-table-header">
            <th scope="col">Початок</th>
            <th scope="col">Кімната №1</th>
          </tr>
        </thead>
        <tbody id="agenda-table">
          <tr>
            <td>9:30</td>
            <td><span class="text-center">Реєстрація</span></td>
          </tr>
          <tr>
            <td>10:00</td>
            <td><span class="text-center">Відкриття конференції</span></td>
          </tr>
          <tr>
            <td>10:15</td>
            <td>
              <h5 class="speaker_name">Волошин  Олексій</h5>
              <h6>Do Androids Dream Of Automation?</h6>
              Як розвернути та настроїти для тестування Andoid SDK та Appium кількома способами?<br/>
              Як знаходити та взаємодіяти з елементами Andoid додатків?<br/>
              Як підготувати реальний телефон для автоматизації тестування та як працювати з емулятором.<br/>
              Також будуть продемонстровані реальні приклади автоматизації додатків та тестування веб-сайтів в мобільному браузері
            </td>
          </tr>
          <tr>
            <td>10:55</td>
            <td><span class="text-center">Перерва 10 хвилин</span></td>
          </tr>
          <tr>
            <td>11:05</td>
            <td>
              <h5 class="speaker_name">Михайло Довгий</h5>
              <h6>Тестова документація в умовах браку часу</h6>
              <ul>
                <li>Чи потрібна нам тестова документація?</li>
                <li>Основні види документації</li>
                <li>Кожен вид в деталях, його особливості, переваги та недоліки</li>
                <li>Поділюся досвідом імплементації кожного з них</li>
                <li>В яких ситуаціях краще використовувати який та як починати впроваджувати на проектах тестову документацію</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>11:45</td>
            <td><span class="text-center">Перерва 15 хвилин</span></td>
          </tr>
          <tr>
            <td>12:00</td>
            <td>
              <h5 class="speaker_name">Сергiй Радов</h5>
              <h6>How to identify workload model for a performance test?</h6>
              <p>
              The goal of this talk shows up the essential steps needed to create a performance test setup from scratch. The main idea is to eliminate fear due to difficulties and fulfill missing puzzles in attendees knowledge, give them a brief understanding of what is needed to uncover black box known as performance testing and workload analysis. </p> 

              <p>We will go throughout all aspects such as gathering performance requirements to tests analysis. Also, we will try to show the ability to experiment with received results to avoid hidden pitfalls in tests results comparisons.</p>
            </td>
          </tr>
          <tr>
            <td>12:40</td>
            <td><span class="text-center">Перерва 10 хвилин</span></td>
          </tr>
          <tr>
            <td>12:50</td>
            <td>
              <h5 class="speaker_name">Сергій Брит</h5>
              <h6>Selenide. Пишемо тести швидко та стабільно.</h6>
              <p>
                Про Selenium говорять багато, багато написано и знято на відео.<br/>
                Це дуже потужний інструмент для тестування веб і не тільки.<br/>
                Але якщо вам потрібно писати тесті швидко, якщо у вас немає часу для налаштування всієй тестовой інфраструктури, а тести потрібні, або якщо у вас просто немає спеціаліста з автоматизованного тестування.<br/>
                На допомогу прийде Selenide. Це проста бібліотека на Java, я ка дозволяе швидко писати тести, запускати їх і не паритись про налаштування.<br/>
                В цій доповіді я хотів би показати не різницю між Selenium і Selenide, а хотів би розповісти, що саме розробники останнього зробили щоб полегшити нам життя.
              </p>
            </td>
          </tr>
          <tr>
            <td>13:30</td>
            <td><span class="text-center">Обідня перерва 13:30 - 14:30</span></td>
          </tr>
          <tr>
            <td>14:30</td>
            <td>
              <h5 class="speaker_name">Елліна Азадова</h5>
              <h6>Емоційний інтелект, або як не з'їхати з глузду в умовах складного та динамічного проекту</h6>
              <p>
                Релізи два рази на тиждень… Кількість багів постійно зростає... Строки горять... Робота в режимі овертайму може демотивувати команду та призвести до емоційного вигорання. Як цьому запобігти, якщо ситуацію змінити неможливо. На прикладах із власного досвіду продемонструємо, як зміна відношення до роботи в такому проекті зможе реально допомогти та які прийоми для цього існують.
              </p>
            </td>
          </tr>
          <tr>
            <td>15:10</td>
            <td><span class="text-center">Перерва 10 хвилин</span></td>
          </tr>
          <tr>
            <td>15:20</td>
            <td>
              <h5 class="speaker_name">Максим Фомічов</h5>
              <h6>"Code less" автоматизація тестування."</h6>
              <p>
                Спробуємо з вами розібратися чи можливо для Manual QA автоматизувати свою роботи не маючи навичок програмування.
              </p>
            </td>
          </tr>
          <tr>
            <td>16:00</td>
            <td><span class="text-center">Перерва 15 хвилин</span></td>
          </tr>
          <tr>
            <td>16:15</td>
            <td>
              <h5 class="speaker_name">Антон Мужайло</h5>
              <h6>Using classical estimation techniques" / "Risk based Testing approaches in Agile</h6>
            </td>
          </tr>
          <tr>
            <td>17:00</td>
            <td><span class="text-center">Завершення конференції</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="partners" class="partners wow fadeIn slow">
  <div class="container">
    <h2 class="line-after text-center">ПАРТНЕРИ</h2>
    <div class="row partners__main__wrapper">
      <div class="col-xs-6 col-md-2"></div>
      <div class="col-xs-8 col-md-8">
        <div class="partners__img__wrapper">
          <img class="partners__img" src="images/partners/lits_logo.png" alt="">
        </div>
        <div class="partners__description">"LITS Mykolaiv" IТ-школа майбутньго, створена з метою надати можливість
          кожному, отримати виключно актуальні знання та освоїти практичні вміння, що допоможуть стати затребуваними
          спеціалістами на ринку праці ІТ.</div>

      </div>
    </div>
    <div class="row partners__main__wrapper">
      <div class="col-xs-6 col-md-2"></div>
      <div class="col-xs-8 col-md-8">
        <div class="partners__img__wrapper">
          <img class="partners__img" src="images/partners/introlab.jpg" alt="">
        </div>
        <div class="partners__description">Ми - молода команда розробників, які мають значний досвід у постачанні програмного забезпечення.<br/>
          Наші Послуги:<br/>

          Системи моніторингу даних;<br/>
          Візуалізація даних;<br/>
          Системна інтеграція;<br/>
          Розробка власного програмного забезпечення.<br/>

          Ми намагаємося не тільки виконувати завдання, але й глибше розуміти потреби бізнесу клієнта, що дозволяє реалізувати дійсно цінні програмні рішення.
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-items">
      <a class="navbar-brand link" href="https://www.globallogic.com/ua/" target="_blank">
        <svg version="1.1" id="Layer_1" class="svg-logo-desktop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-540 381.7 206.9 39.3" style="enable-background:new -540 381.7 206.9 39.3;" xml:space="preserve">
          <g>
            <path d="M-525.8,399.9h9c-1.2,4.1-5,7.2-9.5,7.2c-5.4,0-9.9-4.4-9.9-9.9c0-5.4,4.4-9.9,9.9-9.9c4.1,0,7.6,2.5,9.1,6.1h2.7
              c-1.6-5-6.3-8.6-11.8-8.6c-6.8,0-12.4,5.6-12.4,12.4s5.6,12.4,12.4,12.4c3.9,0,7.5-2,9.6-4.8v4.3h2.3v-11.7h-11.4V399.9z"></path>
            <rect x="-510.2" y="385.6" width="2.5" height="23.4"></rect>
            <rect x="-437.3" y="385.6" width="2.5" height="23.4"></rect>
            <path d="M-494.8,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7c3.8,0,6.9,3.2,6.9,7C-488,404.1-491.1,407.4-494.8,407.4
                M-494.8,390.9c-5.2,0-9.4,4.2-9.4,9.4c0,5.2,4.2,9.4,9.4,9.4c5.2,0,9.4-4.2,9.4-9.4C-485.5,395.1-489.7,390.9-494.8,390.9"></path>
            <path d="M-473.2,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7c3.8,0,6.9,3.2,6.9,7C-466.4,404.1-469.4,407.4-473.2,407.4
                M-473.1,390.8c-2.8,0-5.3,1.2-7,3.2v-8.4h-2.5V409h2.5v-2.3c1.7,1.9,4.2,3.1,7,3.1c5.2,0,9.4-4.3,9.4-9.5
              C-463.7,395-467.9,390.8-473.1,390.8"></path>
            <path d="M-451,407.4c-3.8,0-6.9-3.3-6.9-7c0-3.8,3.1-7,6.9-7s6.9,3.2,6.9,7C-444.1,404.1-447.2,407.4-451,407.4 M-444.1,394
              c-1.7-2-4.3-3.2-7.1-3.2c-5.3,0-9.5,4.3-9.5,9.5c0,5.3,4.3,9.5,9.5,9.5c2.8,0,5.4-1.2,7.1-3.2v2.4h2.5v-17.1h-2.5V394z"></path>
            <rect x="-369.8" y="383.2" width="4.4" height="4.1"></rect>
            <polygon points="-426,385.6 -430,385.6 -430,405.3 -430,409 -416.9,409 -416.9,405.3 -426,405.3   "></polygon>
            <rect x="-369.8" y="390.6" width="4.4" height="18.4"></rect>
            <path d="M-405.7,405.8c-2.9,0-5.3-2.5-5.3-5.7c0-3.1,2.4-5.7,5.3-5.7c2.9,0,5.3,2.5,5.3,5.7C-400.4,403.3-402.8,405.8-405.7,405.8
                M-405.7,390.5c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6c5.3,0,9.6-4.3,9.6-9.6C-396.1,394.8-400.4,390.5-405.7,390.5"></path>
            <path d="M-347.2,402.7c-0.9,1.9-2.7,3.1-4.7,3.1c-2.9,0-5.3-2.6-5.3-5.7c0-3.4,2.4-5.7,5.3-5.7c2,0,3.7,1.2,4.6,2.9h4.6
              c-1.2-3.9-4.9-6.8-9.2-6.8c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6c4.4,0,8.2-3,9.3-7.1h-4.6V402.7z"></path>
            <path d="M-384.4,415.4c-2,0-3.8-1-5-2.6l-3.9,1.9c1.8,2.9,4.9,4.8,8.9,4.8c5.1,0,9.3-4.1,9.7-9h-4.3
              C-379.4,413.3-381.6,415.4-384.4,415.4"></path>
            <path d="M-384.2,405.9c-2.9,0-5.3-2.5-5.3-5.7c0-3.1,2.4-5.7,5.3-5.7c2.9,0,5.3,2.5,5.3,5.7S-381.2,405.9-384.2,405.9
                M-378.5,392.5c-1.6-1.1-3.5-1.8-5.6-1.8c-5.3,0-9.6,4.3-9.6,9.6c0,5.3,4.3,9.6,9.6,9.6s9.6-4.3,9.6-9.5v-9.8h-4V392.5z"></path>
          </g>
          <g>
            <path d="M-339.1,387.4c0-1.6,1.1-2.6,2.6-2.6s2.6,1.1,2.6,2.6s-1.1,2.6-2.6,2.6C-338,390-339.1,388.9-339.1,387.4z M-334.3,387.4
              c0-1.4-0.9-2.3-2.2-2.3c-1.2,0-2.2,0.9-2.2,2.3c0,1.4,0.9,2.3,2.2,2.3C-335.3,389.6-334.3,388.7-334.3,387.4z M-337.6,386h1.2
              c0.5,0,0.9,0.3,0.9,0.8c0,0.3-0.2,0.6-0.5,0.6l0,0c0.3,0.1,0.4,0.2,0.4,0.6c0,0.4,0,0.6,0.1,0.7l0,0h-0.5c-0.1,0-0.1-0.3-0.1-0.6
              c0-0.3-0.2-0.5-0.5-0.5h-0.5v1.1h-0.5V386L-337.6,386z M-336.9,387.2h0.6c0.3,0,0.5-0.2,0.5-0.4c0-0.2-0.1-0.4-0.4-0.4h-0.6v0.8
              H-336.9z"></path>
          </g>
          </svg>
      </a>
      <div class="contacts">

        <a id="card-caption-facebook" href="https://www.facebook.com/GlobalLogicUkraine" target="_blank"><i class="fab link card-caption  fa-facebook-square"></i></a>
        <a id="card-caption-twitter" href="https://twitter.com/globallogic_ua" target="_blank"><i class="fab link card-caption fa-twitter-square"></i></a>
        <a id="card-caption-mail" href="mailto:join.mykolaiv@globallogic.com" target="_blank"><i class="far link card-caption fa-envelope"></i></a>
        <a id="card-caption-linkedin" href="https://www.linkedin.com/company/globallogic/" target="_blank"><i class="fab link card-caption fa-linkedin"></i></a>
      </div>
    </div>
    <span class="copyright mobile-block">2019 Copyright GlobalLogic. All rights reserved.</span>
  </div>
</footer>
{{/content}}
{{/extend}}